<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Гороскоп для {{ sign|capfirst }}</title>
</head>
<body>
    <h1>Приложение Гороскоп</h1>
    {% if description_zodiac is None %}
        <h2>Неправильный знак зодиака - {{ sign|upper }}</h2>
    {% else %}
        <h2>{{ description_zodiac|title|safe }}</h2>
    {% endif %}
    {% if my_list|length >= 3 %}
        <p>Список из 3х и более элементов - {{ my_list }}</p>
    {% elif my_list|length == 2 %}
        <p>Список из 2х элементов - {{ my_list }}</p>
    {% elif my_list|length == 1 %}
        <p>Список из одного элемента - {{ my_list }}</p>
    {% else %}
        <p>Пустой список {{ my_list }}</p>
    {% endif %}

    <p>Число {{ my_int|add:"100" }}</p>
    <p>Число вещественное {{ my_float|add:my_int }}</p>
    <p>Список {{ my_list|first }}</p>
    <p>Кортеж {{ my_tuple|join:"!, " }}</p>
    <p>Словарь {{ my_dict }}, ключ - {{ my_dict.name }}</p>
    <p>Экземпляр класса {{ my_class }}, аргумент - {{ my_class.age }}</p>
    <p>default {{ value|default:"nothing" }} </p>
</body>
</html>