<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
</head>
<body>
    <ul>
        {% for zodiac in zodiacs%}
            {% if forloop.first %}
                <li>
                    <b><a href="">{{ forloop.counter0 }}{{ zodiac|capfirst}}</a></b>
                </li>
            {% elif forloop.last %}
                <li>
                    <a href="" style="color:red">{{ forloop.counter0 }}{{ zodiac|capfirst}}</a>
                </li>
            {% else %}
                <li>
                    <a href="">{{ forloop.counter0 }}{{ zodiac|capfirst}}</a>
                </li>
            {% endif %}
        {% endfor%}
    </ul>

    {% for key, value in zodiac_dict.items reversed %}
        <p>{{ key|title }}: {{ value }}</p>
    {% empty %}
        <p>Sorry, no athletes in this dict.</p>
    {% endfor %}


</body>
</html>