{% extends 'base.html' %}

{% load static %}

{% block title %}
    Меню
{% endblock %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'horoscope/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'horoscope/css/info.css' %}">
{% endblock %}

{% block content %}
    <h1>Приложение гороскоп</h1>
    <ul>
    {% for zodiac, value in zodiac_dict.items %}
        <li>
            <a href="{% url 'horoscope-name' sign_zodiac=zodiac %}">{{ zodiac|capfirst}}</a>
        </li>
    {% endfor%}
    </ul>
{% endblock %}